In [3]:
print("My name is sanjana dangi\n I'm a developer\n I love coding")

My name is sanjana dangi
 I'm a developer
 I love coding

In [4]:
print("My name is sanjana dangi \nI'm a developer \nI love coding")

My name is sanjana dangi
I'm a developer
I love coding

In [5]:
# in this i'm gonna print hello world by creating variable

a = "Hello world"
print(a)

Hello world

In [7]:
Name = "sanjana"
print(Name)

sanjana

In [10]:
Name = input("Enter your name here: ")
print(Name)

Enter your name here: sanjana
sanjana

In [11]:
Age = int(input("Enter your age: "))
print(Age)

Enter your age: 21
21

In [13]:
exp = eval(input("Enter any equation here: "))
print(exp)

Enter any equation here: 2+3
5

In [15]:
name = "sanju"
print(type(name))

<class 'str'>

In [16]:
age = 21
print(type(age))

<class 'int'>

In [17]:
# Implicit type casting

a = 123
b = 1.23
c = a + b
print(c)
print(type(c))

124.23
<class 'float'>

In [19]:
# explicit type casting

a = "123"
a = float(a)
print("after conversion", type(a))

after conversion <class 'float'>

In [21]:
# wap to display a person's name, age, address in three diffrent lines

Name = input("what is your name: ")
Age = input("what is your age: ")
Address = input("write your address: ")
print(Name)
print(Age)
print(Address)

what is your name: sanjana
what is your age: 21
write your address: Ramgarh
sanjana
21
Ramgarh

In [23]:
# wap to swap two variables

# method1 using temp variable
x = 10
y = 20

temp = x
print(temp)
x = y
print(x)
y = temp
print(y)
print("value of x is", x)
print("value of y is", y)

10
20
10
value of x is 20
value of y is 10

In [24]:
# method2

a = 10
b = 20

# left, right = right, left
a, b = b,a
print(b)
print(a)

10
20

In [25]:
# wap to convert a float into integer

a = 1.23
a = int(a)
print("after conversion", (a))

after conversion 1

In [26]:
# wap to take details from a student for id-card and then print it in diffrent lines.

Name = input("Enter your name: ")
Class = input("Enter your class: ")
Roll = int(input("Enter your roll: "))
print(Name)
print(Class)
print(Roll)

Enter your name: sanjana
Enter your class: 7
Enter your roll: 34
sanjana
7
34

In [30]:
print(6/3)
print(2**2)
print(6//3)

2.0
4
2

In [33]:
print(3>2) 
print(3==6)

True
False

In [2]:
# logical operator 

print(3>4 and 3<4)
print(not(3>4 and 3<4))

False
True

In [7]:
# identity operator
# a = 1234
# b = 1234
# print(a is not b)

a = 1234
b = "1234"
print(a is not b)

True

In [12]:
# Bitwise operator

# OR OPERATOR
# print(bin(15))
# a = 10
# b = 8
# print(a | b)

# XOR OPERATOR
# a = 10
# b = 8
# print(a ^ b)

# ZERO FILL LEFT SHIFFT
# print(10>>2)
print(10<<2)

40

In [13]:
# MEMBERSHIP OPERATOR

a = "Hello"
print("H" not in a)

False

In [1]:
# NESTED IF-ELSE STATEMENT

marks = 95 

if marks>=80:
    print("you will get a new phone")
    if marks>=95:
        print("you can go to a trip")
        
else:
    print("no phone for a month")

you will get a new phone
you can go to a trip

In [2]:
# SHORT HAND IF STATEMENT

marks = 97
if marks>= 90: print("you will get a new phone")

you will get a new phone

In [3]:
# SHORT HAND IF-ELSE STATEMENT

marks = 97

print("you will go to trip") if marks>= 90 else print("no phone for a month")

you will go to trip

In [6]:
# PROBLEM SOLVING

# wap a program to check if a number is positive

num = int(input("Enter a number her: "))
if num >= 0:
    print("positive")
else:
    print("negative")

Enter a number her: -9
negative

In [10]:
# wap to check whether a number is odd or even

num = int(input("Enter a number here: "))
if num%2 == 1:
    print("odd")
else:
    print("even")

Enter a number here: 4
even

In [12]:
# wap to create area calculator

choice = int(input("enter the number between 1-4: "))
if choice == 1:
    side = float(input("enter the length of one side: "))
    area = side**2
    print("area of square is: ", area)

elif choice == 2:
    length = float(input("enter the length of rectangle: "))
    width = float(input("enter the width of rectangle: "))
    area = length*width
    print("area of rectangle is: ", area)

elif choice == 3:
    radius = float(input("enter the radius of the circle: "))
    area = ((22/7)*radius**2)
    print("area of circle is: ", area)
    
else:
    print("invalid input")

enter the number between 1-4: 3
enter the radius of the circle: 6
area of circle is:  113.14285714285714

In [13]:
# wap to check whether the passed letter is vowel or not

letter = input("enter the letter here: ")

if (letter in "aeiou") or (letter in "AEIOU"):
    print("vowel")
    
else:
    print("not a vowel")

enter the letter here: e
vowel

In [17]:
# wap to check if number is sible digit number, 2 digit number, 3 digit number, 4digit number, 5 digit number

num = int(input("enter a number here up to 5-digits: "))
          
if num >= 0 and num <= 9:
          print("single digit number")
elif num >= 10 and num <= 99:
          print("double digit number")
elif num >= 100 and num <= 999:
          print("triple digit number")
elif num >= 1000 and num <= 9999:
          print("four digit number")
else:
     print("five digit number")

enter a number here up to 5-digits: 7777
four digit number

In [18]:
# FOR LOOP 

for i in range(1, 6, 2):
    print("Hello World")

Hello World
Hello World
Hello World

In [20]:
# wap to print a table of 7

# n = 8
n  = int(input("enter a number here: "))
for i in range(1, 11):
    print(n, "x", i, "=", n*i)

enter a number here: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [1]:
# WHILE LOOP

n = 0
while n<=10:
    print(n)
    n +=2

0
2
4
6
8
10

In [2]:
# multiplication question using while loop

n = 1
a = int(input("enter a number here: "))

while n<= 10:
    print(a, "x", n, "=", n*a)
    n += 1
#     n += 2 for odd numbers only

enter a number here: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [3]:
# WHILE TRUE

while True:
    num1 = int(input("enter a number here: "))
    num2 = int(input("enter another number here: "))
    
    print(num1 + num2)
    repeat = input("do you want to stop the program: ")
    if repeat == "yes":
        break

enter a number here: 6
enter another number here: 6
12
do you want to stop the program: yes

In [9]:
# NESTED LOOP

for i in range(1, 4):
    for j in range(1, 11):
        print(j, end ="")
    print()

12345678910
12345678910
12345678910

In [10]:
# PATTERN PRINTING USING NESTED LOOP

for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end= " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [11]:
# FOR LOOP WITH CONDITIONALS STATEMENTS

for i in range(1, 101):
    if i%8 == 0 and i%12 == 0:
        print(i)

24
48
72
96

In [2]:
n = 1

while n <=10:
    if n ==3:
        print("add this to favs")
    else:
        print(n)
    n += 1

1
2
add this to favs
4
5
6
7
8
9
10

In [3]:
# BREAK AND CONTINUE STATEMENT

for i in range(1, 11):
    if i == 5:
        continue
    else: 
        print(i)

1
2
3
4
6
7
8
9
10

In [4]:
for i in range(1, 11):
    if i == 7:
        break
    else: 
        print(i)
print("Thankyou")

1
2
3
4
5
6
Thankyou

In [2]:
# PROBLEM SOLVING USING LOOP

# wap to find sum of all even numbers up to 50

sum = 0
for i in range(0, 51):
    if i%2 == 0:
        sum += 1
print(sum)

26

In [3]:
# wap to print first 20 numbers and first squared numbers

for i in range(1, 21):
    print(i, i**2)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225
16 256
17 289
18 324
19 361
20 400

In [1]:
# wap to find sum of first 10 odd numbers using while loop

sum = 0
n = 0
while n <= 20:
    if n%2 != 0:
        sum += n
    n += 1
    
print("sum of first 10 odd numbers is: ", sum)

sum of first 10 odd numbers is:  100

In [3]:
# wap to check number is divisible by 8 and 12 up to 100 numbers

# n = 1
# while n <= 100:
#     if n % 8 == 0 and n % 12 == 0:
#         print(n)
#     n += 1
    

#     USING FO RLOOP 

for i in range(1, 101):
    if i % 8 == 0 and i % 12 == 0:
        print(i)

24
48
72
96

In [14]:
a = "Why fit in, When you are Born to Stand Out!"
# wap to find the length of the following string
# print(len(a))

# b = len(a)
# print("length of string is: ", b)

# wap to check how many times alphabet o is occuring
# print(a.count("o"))

# wap to convert the whole string into lower case and upper case
# print(a.lower())
# print(a.upper())

# wap to convert the following string into title
# print(a.title())

# wap to find the index number of "fit in"
print(a.find("fit in"))

4

In [15]:
# wap to display this pattern
# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5

for i in range(1, 6):   
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [16]:
# 1
# 2 2
# 3 3 3
# 4 4 4 4
# 5 5 5 5 5

for i in range(1, 6):   
    for j in range(1, i+1):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [18]:
# 1 1 1 1 1
# 2 2 2 2
# 3 3 3
# 4 4
# 5 

for i in range(1, 6):   
    for j in range(6, i, -1):
        print(i, end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [21]:
#         *
#       * *
#     * * *
#   * * * *
# * * * * *

for i in range(1, 6):
    for j in range(5, i, -1):
        print(" ", end=" ")
    for k in range(i):
        print("*", end = " ")
        
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [24]:
# 1 
# 2 1 
# 3 2 1
# 4 3 2 1
# 5 4 3 2 1

for i in range(1, 6):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [28]:
# *
# * *
# * * *
# * * * *
# * * * * *
# * * * * 
# * * *
# * * 
# * 

for i in range(1, 6):
    for j in range(1, i+1):
        print("*", end=" ")
    print()
for i in range(5, 0, -1):
    for k in range(0, i-1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [29]:
for i in range(1, 11):
    for j in range(1, i+1):
        print(i*j, end=" ")
        
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

In [32]:
# STRING MANIPULATION
a = "Hello world"
print(type(a))

<class 'str'>

In [34]:
# to write variables inside a string

name ="sanjana"
age = 21
b ="My name is {}. and my age is {}"
print(b.format(name, age))

My name is sanjana. and my age is 21

In [36]:
# it fills the given characters and centralizes a string

print(name.center(20, "*"))

******sanjana*******

In [1]:
# rindex

a = "Harry pitter and the Prisoner of Azkaban"
print(a.rindex("Harry"))

0

In [2]:
# rfind

a = "Harry Potter and the Goblet of Fire"
print(a.rfind("Potter"))

6

In [13]:
# string slicing

a = "Harry Potter and the Goblet of Fire"
print(a)
print(a[0:5])
print(a[6:12])
print(a[:5])

b = "0123456789"
print(b[::2])
print(b[:7:2])
print(b[::-1])
print(b[6:0:-1])

Harry Potter and the Goblet of Fire
Harry
Potter
Harry
02468
0246
9876543210
654321

In [15]:
# FIBONACCI SERIES

a = 0
b = 1
n = int(input("Enter a number here: "))
if n == 1:
    print(1)
else:
    print(a)
    print(b)
    for i in range(2, n):
        c = a+b
        a = b
        b = c
        print(c)

Enter a number here: 9
0
1
1
2
3
5
8
13
21

In [19]:
# check wheather the number is prime or not

num = int(input("Enter a number here: "))

if num <= 1:
    print("Not a prime number")
    
else:
     for i in range(2, num):
        if num%i == 0:
            print("not a prime number")
            break 
        else: 
            print("prime number")

Enter a number here: 8
not a prime number

In [2]:
# pallindrome of integers

num = int(input("Enter a number here: "))
temp = num
rev = 0
while num >0:
    dig = num%10
    rev = rev*10 + dig
    num = num // 10
    
if rev == temp:
    print("It is a pallindrome")
else:
    print("It is not a pallindrome")

Enter a number here: 131
It is a pallindrome

In [7]:
# separate the following string into comma(,)nseparated values
A = "OOTD.YOLO.ASAP.BRB.GTG.OTW"

print(A.replace(".", ","))

OOTD,YOLO,ASAP,BRB,GTG,OTW

In [8]:
# sort the strings alphabetically in python

a = input("Enter the string here: ")
b = sorted(a)
print(b)

Enter the string here: hello i am sanjana
[' ', ' ', ' ', 'a', 'a', 'a', 'a', 'e', 'h', 'i', 'j', 'l', 'l', 'm', 'n', 'n', 'o', 's']

In [9]:
# remove given character from a string

a = "hello"
b = a.replace("e", "")
print(b)

hllo

In [11]:
# remove dot(.) from the following string

Z = "F.R.I.E.N.D.S"
B = Z.replace(".", "")
print(B)

FRIENDS

In [12]:
# to check the number of occurance of a substring in a string

a = "she sells seashells on the sea shore"
b = a.count("sea")
print(b)

2

In [13]:
# take an input from user as a string then, reverse it.

a = input("Enter anything here: ")
print(a[::-1])

Enter a string here: hello my name is sanjana
anajnas si eman ym olleh

In [16]:
# to check string conatins only string

a = input("Enter anything here: ")
b = (a.isdigit())
if b == True:
    print("it contains digits")
else:
    print("it does not contain digits")

Enter a here: hello12
it does not contain digits

In [19]:
a = input("Enter anything here: ")
rev = a[::-1]
if a == rev:
    print("palindrome")
else:
    print("not palindrome")

Enter anything here: hello
not palindrome

In [22]:
# to find number of vowels in a string

a = input("enter anything here: ")
vowels = 0
for i in a:
    if i == "a" or i =="e" or i =="i"or i == "o" or i == "u":
        vowels += 1
print("number of vowels in the following string are", vowels)

enter anything here: hello my name is
number of vowels in the following string are 5

In [1]:
# check every word in a sting starts with a capital letter

a = input("enter anything: ")
print(a.istitle())

enter anything: Hello my
False

In [2]:
fruits = ["apple", "mango", "banana", 12, 13, 23.25]
print(fruits)
print(type(fruits))

['apple', 'mango', 'banana', 12, 13, 23.25]
<class 'list'>

In [7]:
# slicing string

a = ["Ironman", "Thor", "Captain America", "Hulk"]
print(a[1])
print(a[1:3])
print(a[::2])
print(a[1:])
print(a[::2])
print(a[-3:-1])
print(a[::-1])

Thor
['Thor', 'Captain America']
['Ironman', 'Captain America']
['Thor', 'Captain America', 'Hulk']
['Ironman', 'Captain America']
['Thor', 'Captain America']
['Hulk', 'Captain America', 'Thor', 'Ironman']

In [16]:
# list function
a = ["Ironman", "Thor", "Captain America", "Hulk", "Hulk"]

# to find the length of a list
print(a)
print(len(a))

# to count an occurence of a particular element
print(a.count("Hulk"))

# to add to the list
a.append("Spiderman")
print(a)

# to add to a specific location
a.insert(3,"Vision")
print(a)

# to remove from a list
a.remove("Spiderman")
print(a)

# to remove from a certain location
print(a.pop(1))
print(a)

['Ironman', 'Thor', 'Captain America', 'Hulk', 'Hulk']
5
2
['Ironman', 'Thor', 'Captain America', 'Hulk', 'Hulk', 'Spiderman']
['Ironman', 'Thor', 'Captain America', 'Vision', 'Hulk', 'Hulk', 'Spiderman']
['Ironman', 'Thor', 'Captain America', 'Vision', 'Hulk', 'Hulk']
Thor
['Ironman', 'Captain America', 'Vision', 'Hulk', 'Hulk']

In [21]:
a = ["Thor", "Hulk", "Ironman", "Captain America"]

# to create a copy of a list
b = []
print(b)
b = a.copy()
print(b)

# to access an element
print(a.index("Thor"))

# to extend the list
c = ["vision", "spiderman"]
a.extend(c)
print(a)

# to reverse the list
a.reverse()
print(a)

# to sort the list
a.sort()
print(a)

# to clear all the data from the list

[]
['Thor', 'Hulk', 'Ironman', 'Captain America']
0
['Thor', 'Hulk', 'Ironman', 'Captain America', 'vision', 'spiderman']
['spiderman', 'vision', 'Captain America', 'Ironman', 'Hulk', 'Thor']
['Captain America', 'Hulk', 'Ironman', 'Thor', 'spiderman', 'vision']

In [7]:
# LIST COMPREHENSION

l1 = [30, 40, 50, 60]

l2 = []
for i in l1:
    if i > 45:
        l2.append(i)
print(l1,"\n", l2)

l3 = [i for i in l1 if i > 45]
print(l3)

[30, 40, 50, 60]
 [50, 60]
[50, 60]

In [15]:
A = ["Ross", "Rachel", "Monica", "Joe"]

# to swap first and fourth element

A[0], A[3] = A[3],A[0]
print(A)

# to add new value at second position
A.insert(1, "Phoebe")
print(A)

# to delete value from 3rd position
A.pop(2)
print(A)

B = [13, 7, 12, 10]

# to multiply all the numbers in a list
mul = 1
for i in B:
    mul = mul*i
print(mul)

# get the largest number from the list
B.sort()
print(B)

print("The largest value in the given list is", B[-1])

['Joe', 'Rachel', 'Monica', 'Ross']
['Joe', 'Phoebe', 'Rachel', 'Monica', 'Ross']
['Joe', 'Phoebe', 'Monica', 'Ross']
10920
[7, 10, 12, 13]
The largest value in the given list is 13

In [19]:
# TUPLES

a = "mango", "apple", "banana", 1,67,1.23
print(type(a))
print(a)

b = "Ironman",
print(type(b))

<class 'tuple'>
('mango', 'apple', 'banana', 1, 67, 1.23)
<class 'tuple'>

In [23]:
# SLICING AND ITERATION IN TUPLES

a = ("OnePlus", "Vivo", "Redmi", "Sumsung", "Nokia")
print(a[1:3])
print(a[:3])
print(a[2:])
print(a[1::2])
print(a[::-1])
print(a[2::-1])

# with for loop
for i in a:
    print(i)
    
# along with range and length in for loop
for i in range(len(a)):
    print(a[i])
    
# along with while loop
i = 0
while i < len(a):
    print(a[i])
    i +=1

('Vivo', 'Redmi')
('OnePlus', 'Vivo', 'Redmi')
('Redmi', 'Sumsung', 'Nokia')
('Vivo', 'Sumsung')
('Nokia', 'Sumsung', 'Redmi', 'Vivo', 'OnePlus')
('Redmi', 'Vivo', 'OnePlus')
OnePlus
Vivo
Redmi
Sumsung
Nokia
OnePlus
Vivo
Redmi
Sumsung
Nokia
OnePlus
Vivo
Redmi
Sumsung
Nokia

In [29]:
a = ("OnePlus", "Nokia", "Redmi")
print("before conversion", type(a))

a = list(a)
print("after cobersion", type(a))

a.append("Vivo")
print(a)
a = tuple(a)
print(type(a))
print(a)

print(a.count("Redmi"))
print("the index of redmi is", a.index("Redmi"))

before conversion <class 'tuple'>
after cobersion <class 'list'>
['OnePlus', 'Nokia', 'Redmi', 'Vivo']
<class 'tuple'>
('OnePlus', 'Nokia', 'Redmi', 'Vivo')
1
the index of redmi is 2

In [36]:
# convert the follwing dictionary into JSON format
import json
student_data = {"name": "sanju", "age": 12, "marks":
               80}
print(type(student_data))
data = json.dumps(student_data)
print(data)
print(type(data))

<class 'dict'>
{"name": "sanju", "age": 12, "marks": 80}
<class 'str'>

In [37]:
# access the value of age from the given JSON data
student_data = """{"name": "sanju", "age": 12, "marks":
               80}"""
data = json.loads(student_data)
print(data["age"])

12

In [48]:
# preety print following JSON data
import json
student_data = {"name": "sanju", "age": 12, "marks": 90}

data = json.dumps(student_data, indent=4,separators=(",","="))
print(data)

{
    "name"="sanju",
    "age"=12,
    "marks"=90
}

In [53]:
# sort the following JSON keys and write them into a file
import json
student_data = {"name": "sanju", "age": 12, "marks": 90}
f = open("demo.json", "w")
data = json.dumps(student_data, indent=4, sort_keys= True)
f.write(data)

print("the data has been added to the file")

the data has been added to the file

In [51]:
# access the nested key marks from the following nested data
import json

student_data = """{ "student":{ 
        "grade": {
          "name": "david", 
             "marks":{
                "maths": 90
            }
        }
}}"""

data = json.loads(student_data)
print(data["student"]["grade"]["marks"])

{'maths': 90}

In [52]:
# access the nested key "marks" from the following nested data
import json
student_data ="""{ "student":
                  {"grade":
                    {"name": "david", "marks": 90}
                    } 
                 }"""
data = json.loads(student_data)
print(data["student"]["grade"]["marks"])

90

In [54]:
# DICTIONARY
Employee_Data = {"name": "sanju", "age": 21, "address": "Ramgarh"}
print(Employee_Data["age"])

21

In [59]:
# ITERATION IN DICTIONARIES

student ={"name": "sanju", "class": "12th", "roll": 21}
print(student["roll"])

# printing all the key name one by one
for i in student:
    print(student[i])

# using value function
for i in student.values():
    print(i)
    
# using items function
for x, y in student.items():
    print(x, "-", y)

21
sanju
12th
21
sanju
12th
21
name - sanju
class - 12th
roll - 21

In [65]:
# iteration in dictionaries
student = {"name": "sanju", "age": 21, "address": "Ramgarh"}

# get
x = student.get("age")
print(x)

# items
a = student.items()
print(a)

# keys
b = student.keys()
print(b)

# values
c = student.values()
print(c)

# copy
d = student.copy()
print(d)

# setdefault

# update

# popitem

# clear

21
dict_items([('name', 'sanju'), ('age', 21), ('address', 'Ramgarh')])
dict_keys(['name', 'age', 'address'])
dict_values(['sanju', 21, 'Ramgarh'])
{'name': 'sanju', 'age': 21, 'address': 'Ramgarh'}

In [69]:
# Nested Dictionaries
Employees = {1:{"name": "john", "age": 23, "gender": "male"},
            2:{"name": "lisa", "age": 24, "gender": "female"},
            3:{"name": "peter", "age": 21, "gender": "male"}}
print(Employees[1]["age"])

23

In [73]:
# wap to sort a dictionary by value

a = {"a":12,"b":23,"c":6,"d":91,"e":45}
a = sorted(a.values())
print(a)

[6, 12, 23, 45, 91]

In [75]:
# write a python script to print a dictionary where the keys are numbers between 1 and 15 and the values are square of keys

a = {}
for i in range(1,16):
    a[i] = i**2
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [76]:
# wap to multiply all the items in dictionary

a = {"a":1,"b":2,"c":3,"d":4,"e":5}
product = 1
for i in a:
    product *=a[i]
print(product)

120

In [77]:
# wap to sort a dictionary by key

a = {12:"a",56:"b",23:"c",48:"d",91:"e"}

a = sorted(a.keys())
print(a)

[12, 23, 48, 56, 91]

In [8]:
# sets
a = {"Ironman", "Hulk", "Thor", "Captain America"}
print(a)
print(type(a))
for x in a:
    print(x)

{'Ironman', 'Hulk', 'Thor', 'Captain America'}
<class 'set'>
Ironman
Hulk
Thor
Captain America

In [18]:
# set function

# add
# pop
# remove
# discard
# copy

a = {"Ironman", "Hulk", "Thor", "Captain America"}
b = {"Superma", "Batman", "Wonder-women"}
c = {"Hulk", "Thor", "Spiderman"}

# print(a.union(c))
# print(a.difference(c))
# print(a.difference_update(c))
# x = (a.intersection(c))
# print(x)

# x = (a.symmetric_difference(c))
# print(x)

a.symmetric_difference_update(c)
print(a)

{'Spiderman', 'Ironman', 'Captain America'}

In [23]:
# to find max and min in a set
a = {12,56,34,8,90,1,57}
maximum = max(a)
minimum = min(a)
print("min value is", minimum)
print("max value is", maximum)

min value is 1
max value is 90

In [24]:
# to find common elements in three lists using sets
a = [1,5,6,8,2]
b = [4,5,6,7]
c = [1,9,6,2,5]

print(set(a) & set(b) & set(c))

{5, 6}

In [26]:
# to find difference between two sets
a = {1,5,6,8,2}
b = {1,9,6,2,5}
print(b.difference(a))

{9}

In [27]:
# to remove an item from a set if it is present in the set
a = {1,5,6,8,2}
a.discard(8)
print(a)

{1, 2, 5, 6}

In [28]:
# to check if a set is a subset of another set
a = {1,2,3,4,5,6}
b = {2,3,4}
print(b.issubset(a))

True

In [29]:
# FUNCTION
def add(x,y):
    print(x+y)

add(2,3)

5

In [30]:
# arbitary arguments
def hello(*name):
    print("Hello my name is", name[0])
    
hello("sanju", "prince", "ankit")

Hello my name is sanju

In [33]:
def hello():
    return("Hello World")

print(hello())

def add(a,b):
    return("The addition of two number is", a+b)

print(add(2,3))

Hello World
('The addition of two number is', 5)

In [1]:
# factorial 
def fact(n):
    if n == 1:
        return 1
    else:
        return(n*fact(n-1))

print(fact(4))

24

In [2]:
# lambda function

a = lambda b:b*5
print(a(4))

20

In [3]:
#  local variable
x = 24
print("first variable x ", x)
def hello():
    x = 25
    return x
print(hello())

first variable x  24
25

In [5]:
#  global variable
x = 24
print("first variable x ", x)
def hello():
    global x
    x = 25
    return x
print(hello())

print(x)

first variable x  24
25
25

In [6]:
# write a function to find maximum of three numbers in python

def maximum_num (val1, val2, val3):
    if val1 > val2 and val1 > val3:
        print(val1, "is the greatest number")
    elif val2 > val1 and val2 >val3:
         print(val2, "is the greatest number")
    else:
         print(val3, "is the greatest number")
            

            
maximum_num(12, 5, 91)

91 is the greatest number

In [7]:
# function to craete an dprint a list where the values are square of numbers between 1 and 30

def create_list():
    l = []
    for i in range(1, 31):
        l.append(i**2)
    return l

print(create_list())

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [12]:
# function that takes a number as a parameter and check if the number is prime or not

def check_prime(num):
    if num == 1:
        print("it is not prime number")
    if num == 2:
         print("it is a prime number")
    if num>2:
        for i in range(2, num):
            if num % i == 0:
                print("it is not a prime number")
            break
        
            
    else:
        print("it is prime number")
        
check_prime(10)

it is not a prime number

In [1]:
# write a function to sum all the numbers in a list
def add(numbers):
    total = 0
    for i in numbers:
        total = total + i
    return(total)

print("sum of all the numbers in a list is",add([12,4,5,6,7,8]))

# solution using Recursion
def add(numbers):
    if len(numbers)==1:
        return(numbers[0])
    else:
        return (numbers[0]) + add(numbers[1:])
    

print(add([12,4,5,6,7,8]))

sum of all the numbers in a list is 42
42

In [3]:
# funtion to solve fibonacci sequence using recursion

def fs(num):
    if num == 1:
        return (0)
    elif num == 2:
        return (1)
    else:
        return(fs(num-1) + fs(num-2))
    
print(fs(8))

13

In [4]:
import datetime

x = datetime.datetime.now()
print(x)

2024-06-18 23:23:21.499375

In [9]:
# Random
import random
x = random.randint(1,10)
print(x)

l = ["Heads", "Tails"]
x = random.choice(l)
print(x)

7
Tails

In [10]:
# math 
import math
a = pow(2,4)
print(a)

# max min sqrt abs ceil floor

16